* {
  box-sizing: border-box;

  margin: 0 0;
}

.signing {
  text-decoration: none;
  cursor: pointer;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em 0;
}

.signing:hover {
  background-color: lightblue;
  text-decoration: underline;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 20;
  text-align: center;
  padding: 0.2em 0;
  font-size: 2.5em;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-weight: 200;
  color: rgb(29, 28, 25);
}

header.heading {
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
  height: 60px;
}

hr {
  margin: auto;
  margin-top: auto;
  width: 70%;
  color: gray;
  margin-top: 60px;
  height: 2px;
  background: gray;
  border: white;
}

.heading h4 {
  padding-top: 5px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.131em;
  font-style: normal;
}

.profileheader h5 {
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.162em;
  line-height: 1.4;
  font-size: 16px;
}

#preview h2 {
  text-align: center;
  margin-top: 44%;
  color: white;
  font-size: 2.5rem;
}

#container {
  background: url("../bg/bg4.jpg");

  display: flex;
  flex-flow: column wrap;
  background-size: cover;
}
.box-header {
  text-align: center;
  font-size: large;
  margin-bottom: 2em;
}

.box {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4%;
  border: #6e0b5a 3px solid;
  margin: 20vh auto;
  padding: 15vh 4vh;
  height: 55vh;
  font-size: small;
  background: rgba(255, 255, 255, 0.5);
}
.form {
  height: 30vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#form1 {
  display: flex;
}

.activityboard {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.photogal {
  display: flex;
  justify-content: space-between;
}

#photogal {
  width: 88%;
}

.photocontainer {
  z-index: 0;
  visibility: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 4%;
  animation: push-up 300ms ease-out both;
  animation-delay: calc(var(--i) * 0.2s);
}

.photocontainer:hover {
  visibility: visible;
  transition-delay: 150ms;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.photocontainer .profileheader {
  z-index: 5;

  background: linear-gradient(
    to top,
    rgba(239, 229, 229, 0),
    rgba(40, 38, 38, 0.79)
  );
  position: absolute;
  width: 100%;
  color: white;
  padding: 0.5% 2%;
}

.photo {
  margin: auto;
  width: 100%;
  visibility: visible;
}

button {
  width: 100%;
  height: 100%;
}

svg {
  width: 70%;
  height: 70%;
}

.reactions {
  margin-top: 0px;
  display: flex;
  height: 40px;
  align-items: center;
  position: absolute;
  width: 100%;
  color: white;
  bottom: 0.2rem;
  background: linear-gradient(
    to bottom,
    rgba(239, 229, 229, 0),
    rgba(40, 38, 38, 0.79)
  );
}

.reaction {
  margin-left: 3.5%;
  height: 100%;
  margin-top: 1.5%;
}

.btn {
  font-size: medium;
  padding: 0.7em 0.5em;
  background-color: #670641;
  margin: 30px 0;
  color: white;
  border: black solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: #850953;
}

.uploadbtns {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.submitbtn {
  padding: 0.5em;
  background: #14463f;
  color: white;
  border: black solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.submitbtn:hover {
  background: #23796d;
}

.closebtn {
  float: right;
  margin-top: -8%;
  margin-bottom: -3%;
  height: 60px;
  margin-right: -1%;
}

.closebtn svg:hover {
  color: red;
  background: lightblue;
}

input {
  font-family: "Rubik", sans-serif;
  margin-bottom: 2em;
  padding: 0.7em 1em;
  font-size: 1.2em;
}

footer {
  position: fixed;
  bottom: 30px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#profile_pic {
  border-radius: 50%;
  border: black 2px solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  flex-basis: 5em;
  margin: 2em;
  height: 5em;
}

.profileheader {
  display: flex;
  align-items: center;
  color: #141313;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 0.9;
  font-size: 15px;
}

.profileicon {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-basis: 50px;
  border-radius: 50%;
  max-width: 50px;
  margin-right: 15px;
  max-height: 50px;
}
.model {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

#modelcontainer {
  visibility: visible;
  border: gray solid 2px;

  max-width: 75%;
  max-height: 90%;
  overflow: hidden;
  animation: blow-up 300ms ease-out both;
}

#modelcontainer .reactions {
  position: static;
  background: white;
  color: black;
}

#modelheader {
  position: static;
  color: black;
  background: white;
}

#alluploaded {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px 0;
}

#preview {
  min-height: 500px;
  width: 500px;
  background-color: grey;
}

.profilepics {
  height: 400px;
  display: flex;
  justify-content: center;
}

#profilespace {
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background: url("../bg/bg0.JPG");
}
#usertitle {
  text-align: center;
  margin-top: auto;
  padding-bottom: 15px;
  margin-bottom: auto;
  font-size: 2rem;
  color: white;
}

.likes {
  margin-left: 0.3em;
  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  left: 42%;
  border: gray solid 2px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 21;
}

.controls div button {
  border: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
}

.controls div button:hover {
  background-color: rgb(46, 28, 50);
  color: white;
}

.controls div {
  height: 50px;
  width: 61px;
}

#modelcontainer .photo img {
  height: 73vh;
}

@media only screen and (max-width: 480px) {
  .photocol {
    flex-basis: 95%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .photocol {
    flex-basis: 49%;
  }
}

@media only screen and (min-width: 900px) {
  .photocol {
    flex-basis: 32.25%;
  }
}

@keyframes blow-up {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes push-up {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
