* {
  box-sizing: border-box;

  margin: 0 0;
}

.signing {
  text-decoration: none;
  cursor: pointer;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em 0;
}

.signing:hover {
  background-color: lightblue;
  text-decoration: underline;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;

  text-align: center;
  padding: 0.2em 0;
  font-size: 2.5em;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-weight: 200;
  color: rgb(29, 28, 25);
}

header.heading {
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
  height: 60px;
}

hr {
  margin: auto;
  margin-top: auto;
  width: 70%;
  color: gray;
  margin-top: 60px;
  height: 2px;
  background: gray;
  border: white;
}

.heading h4 {
  padding-top: 5px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.131em;
  font-style: normal;
}

.profileheader h5 {
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.162em;
  line-height: 1.4;
  font-size: 16px;
}

#container {
  background: white;

  display: flex;
  flex-flow: column wrap;
  /* border:crimson 3px solid; */
}
.box-header {
  text-align: center;
  font-size: large;
  margin-bottom: 2em;
}

.box {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4%;
  border: darkgreen 3px solid;
  width: 20vw;
  margin: 20vh auto;
  padding: 10vh 4vh;
  background-color: rgb(202, 136, 136);

  height: 55vh;
  font-size: small;
}
.form {
  height: 30vh;
  /* border:darkorange 3px solid; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.activityboard {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.photocontainer {
  margin-bottom: 30px;
  margin-top: -33px;
  z-index: 0;
  visibility: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.photocontainer:hover {
  visibility: visible;
  transition-delay: 300ms;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.photocontainer .profileheader {
  margin-left: 13px;
  margin-bottom: -35px;
  z-index: 5;
  position: relative;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.5);
}

.photo {
  margin: auto;
  width: 96%;
  visibility: visible;
  overflow: hidden;
}

button {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.reactions {
  margin-top: 0px;
  display: flex;
  height: 21px;
  align-items: center;
}

.reaction {
  margin-left: 5%;
  height: 100%;
}

.btn {
  width: 50%;
  margin: auto;
  font-size: medium;
  padding: 0.5em;
  background-color: blanchedalmond;
}
.btn:hover {
  background-color: skyblue;
}

input {
  font-family: "Rubik", sans-serif;
  margin-bottom: 2em;
  padding: 0.7em 1em;
  font-size: 1.2em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
  width: 100%;
}

#profile_pic {
  border-radius: 50%;
  border: black 2px solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  flex-basis: 120px;
  margin: 15px;
}

.profileheader {
  display: flex;
  align-items: center;
  color: #141313;
  border-radius: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 0.9;
  font-size: 15px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.profileicon {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-basis: 30px;
  border-radius: 50%;
  max-width: 50px;
  margin-right: 15px;
  max-height: 30px;
}

#alluploaded {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.profilepics {
  flex-basis: 33%;
}

#profilespace {
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
}
#usertitle {
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.likes {
  margin-left: 0.5em;
  color: #4a4949;
  font-size: 0.8em;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.controls div {
  height: ;
}

@media only screen and (max-width: 480px) {
  .photocontainer {
    max-width: 95%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .activityboard {
  }
  .photocontainer {
    max-width: 45%;
  }
}

@media only screen and (min-width: 900px) {
  .photocontainer {
    max-width: 30%;
  }
}
